<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="side_title">Menu</mat-toolbar><!-- Titulo -->

    <mat-nav-list>
      <a mat-list-item routerLink="/admin/create" routerLinkActive="active">
        <fa-icon [icon]="faPlus"></fa-icon> 
        <span>Crear producto</span>
      </a><!-- Enlace -->

      <a mat-list-item routerLink="/admin/products" routerLinkActive="active"> 
        <fa-icon [icon]="faEye"></fa-icon> 
        <span>Productos</span> 
      </a><!-- Enlace -->

      <button mat-list-item (click)="logout()">
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
        <span>Cerrar sesión</span>
      </button><!-- Enlace -->
    </mat-nav-list><!-- Enlaces -->
  </mat-sidenav><!-- Sidenav -->

  <mat-sidenav-content>
    <mat-toolbar class="header_admin">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <h1>MiniTienda</h1><!-- Titulo -->
    </mat-toolbar><!-- Cabecera -->
    
    <!-- Add Content Here -->
    <div class="content-main">
      <router-outlet></router-outlet>
    </div><!-- Contenido -->
  </mat-sidenav-content>
</mat-sidenav-container><!-- Contenedor nav -->
