:host {
    flex: 1;
    position: relative;

    display: flex;
    align-items: center;
    
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url('../../../../assets/images/login-fondo.jpg');
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0.2rem);
    }
}