<form [formGroup]="form" class="form__auth" (ngSubmit)="register($event)">
    <div class="container">
        <div class="form__content-img">
            <img src="../../../../assets/images/login.jpg" alt="Imagen login">
        </div><!-- Contenido de la imagen -->
    
        <mat-card>
            <mat-card-header>
                <mat-card-title>Regístrate</mat-card-title><!-- Titulo -->
            </mat-card-header>
    
            <mat-card-content>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="Correo electrónico" formControlName="email" matInput type="email">
                        </mat-form-field><!-- Contenedor input -->
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="Contraseña" formControlName="password" matInput type="password" autocomplete="on">
                        </mat-form-field><!-- Contenedor input -->
                    </div>
                </div>
            </mat-card-content><!-- Conteneder de los Inputs -->

            <div class="form__check-in">
                <p>¿Tienes cuenta?</p> 
                <a routerLink="/auth/login">Inicia sesión</a>
            </div><!-- Enlace auth -->
    
            <mat-card-actions>
                <button class="button btn-blue" [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Registrar</button>
            </mat-card-actions><!-- Acciones -->
        </mat-card><!-- Contenido del formulario -->
    </div><!-- Contenedor del formulario -->
</form><!-- Formulario auth -->