<!-- FIXME: CREANDO EL FORMULARIO DE PRODUCTOS -->
<!-- TODO: Enlazar el formulario global con formGroup -->
<form [formGroup]="form">
    <mat-form-field>
        <!-- TODO: formControlName - para indicarle que controlador le pertenece al input -->
        <input formControlName="id" matInput type="text">
    </mat-form-field>

    <mat-form-field>
        <input formControlName="title" matInput type="text">
    </mat-form-field>

    <mat-form-field>
        <input formControlName="price" matInput type="number">
    </mat-form-field>

    <mat-form-field>
        <input formControlName="description" matInput type="number">
    </mat-form-field>
</form>
