<!-- FIXME: QUE SON LOS COMPONENTES Y DECORADORES -->
<!-- TODO: Traemos valores del Objeto -->
<div>
    <h3>{{ product.title }}</h3>
</div>

<div>
    <!-- TODO: [src] - para obtener valores de las variables  -->
    <img [src]="product.image" alt="" />
</div>

<div>
    <strong>{{ product.price }}</strong>
</div>

<div class="product__button">
    <!-- TODO: (click) - evento click, cuando hacemos click realizará la función o método que se le otorgó -->
    <button class="button btn-green" (click)="addCart()">Agregar al carrito</button>
</div>
