<main class="main__table">
  <table mat-table [dataSource]="products" class="mat-elevation-z8 products-table contenido">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> N° </th>
      <td mat-cell *matCellDef="let product">{{ product.order }}</td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let product"> {{ product.title }} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let product"> {{ product.description | slice:0:18 }}... </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let product"> {{ product.price }} </td>
    </ng-container>
  
    <ng-container class="products__table-actions" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let product"> 
        <button class="button btn-green" mat-raised-button [routerLink]="['edit', product.uid]">Editar</button>
        <button class="button btn-red" mat-raised-button color="warn" (click)="deleteProduct(product.uid)">Eliminar</button>
      </td><!-- Acciones -->
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table><!-- Tabla -->
</main><!-- Contenedor de la tabla -->
