// Pie de pagina
footer {
    background-color: #102850;
    padding: 5rem;
    width: 100%;

    // Contenedor del footer
    .container {
        width: 100%;

        .box {
            h3 {
                color: #ffff;
                text-align: center;
                font-weight: bold;
                margin: 3rem 0 !important;
            }
        
            ul {
                list-style: none;
                text-align: center;
        
                li {
                    margin-bottom: 1.5rem;
                }
        
                a {
                    color: #f0f0f0;
        
                    &:hover {
                        text-decoration: underline;
                        color: #d1d1d1;
                    }
                }
            }
        }
    
        div:nth-child(3) .box {
            display: flex;
            flex-direction: column;
            align-items: center;

            // Contacto - Enviar emai
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
                @media (min-width: 1028px) {
                    flex-direction: row;
                }

                input[type="text"] {
                    outline: none;
                    border: none;
                    color: #ffff;
                    flex: 1;
                } 

                button {
                    width: 100%;
    
                    @media (min-width: 1028px) {
                        width: auto;
                    }
                }
            }
        }
    }
}

