// TODO: host - hará referencia al div (app-product) que cubre a los elementos del HTML
:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0.2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    border: 0.5rem solid #f0f0f0;
    background-color: #f0f0f0;
}

:host:hover {
    border: 0.5rem solid rgb(70, 68, 68);
}

// Nombre del producto
h3 {
    text-align: center;
    padding: 2rem 0 !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
}

// Imagen del producto
.product__content-img {
    // TODO: Los estilos que están acá solo van a tener dominio en este componente Product
        height: 18rem;
        padding: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

    img {
        max-height: 100%;
        object-fit: cover;
        filter: drop-shadow(4px 4px 2px #2e2e2d);
    }
}

// Precio del producto
strong {
    text-align: center;
    display: block;
    margin: 1rem 0;
}

// Descripción del producto
p {
    margin-bottom: 2rem !important;
}

// Botones del producto
.product__button {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    @media (min-width: 440px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 1rem;
    }

    @media (min-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }

    @media (min-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 1rem;
    }

    @media (min-width: 1480px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }

    @media (min-width: 1695px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 1rem;
    }
}
